.row-header {
    margin: auto 0px;
    padding: auto 0px;
}

.row-content {
    /* border-top: 0.1px solid; */
    margin: auto 0px;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background: #D1C4E9;
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
}

.jumbotron {
    background: #9575CD;
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    color: floralwhite
}

.address {
    font-size: 80%;
    margin: 0;
    color: rgb(0, 0, 0)
}

.text-center {
    margin-top: 10px;
}

.navbar-dark {
    background-color: #512DA8;
}
.body{
    padding:50px 0px 0px 0px;
    z-index:0;
}